/*!
 * Roots 6.5.0
 */


/* ==========================================================================
   Base
   ========================================================================== */
@font-face {
  font-family: 'Liberator';
  src: url('../fonts/Liberator.ttf') format('truetype'); 
}

body { }

h1,h2,h3,h4,h5,h6{
  font-family: 'Liberator';
  color: #ffffff;
}
p{
  font-family: 'arial';
  color: #fff;
}
b{
  font-family: 'liberator';
}
h3{
font-size: 32px;
}
h2{
font-size: 75px;
}
.col {
margin: 0 1%;
}
button {
font-family: 'liberator';
font-size: 24px!important;
border: 0px solid !important;
border-radius: 0px!important;
padding: 4px 6px!important;
}
/* ==========================================================================
   Home
   ========================================================================== */
ul#top-slider {
padding: 0;
width: 100%;
margin-bottom: 0px;
}
.home-slider-container{
  padding: 0;
}
div.slide-background {
padding-bottom: 650px;
background-size: cover!important;
margin-top: -20px; 
}
.headline-box {
position: absolute;
padding: 10px;
background: rgba(0,0,0,0.5);
bottom: 75px;
left: 100px;
padding: 10px;
max-width: 525px;
}
.btn.btn-read {
background-color: rgba(13,115,138, .6);
color: #fff!important;
}
#bg-2{
  background: url(../img/about-image.jpg) no-repeat;
  padding-bottom: 650px;
  background-size: cover!important; 
}
#home-2-content {
margin-top: 50px;
position: absolute;
}
#bg-3{
  background: url(../img/player-image.jpg) no-repeat;
  background-size: cover!important;
  padding-bottom: 650px;
}
#home-3-content {
margin-top: 150px;
position: absolute;
width: 100%;
}
.btn.btn-music{
  background-color: #3F3F3F;
  color: #7D7D7D;
}
#bg-4{
  background-color: #000;
}
.vfb-legend>h3 {
text-align: center;
font-size: 42px;
}
ul.vfb-section.vfb-section-1 {
padding-left: 0px;
}
.vfb-section>li {
color: #414141;
font-family: 'liberator';
font-size: 22px;
border-bottom: solid #414141 1px!important;
}
.vfb-item>label {
margin-right: 5px;
}
.vfb-item>input {
background: rgba(0,0,0,0);
border: 0px solid!important;
}
textarea#vfb-7 {
background-color: rgba(0,0,0,0);
border: 1px solid #414141;
width: 100%;
}
/* ==========================================================================
   Header
   ========================================================================== */

.banner {
background: transparent;
margin: 0;
position: absolute;
border: 0px solid;
width: 100%;
}
#menu-primary-navigation {
margin-left: 12%;
}
#menu-primary-navigation>li, #menu-primary-navigation>li.active {
background-color: rgba(95,118,134,.7);
color: #fff;
font-family: 'liberator';
height: 25px;
margin-right: 3px;
}
#menu-primary-navigation>li>a {
color: #fff;
padding: 2px 14px;
font-size: 14px;
text-align: center;
}
li.menu->a {
padding: 5px!important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
  background: transparent!important;
}
/* ==========================================================================
   Content
   ========================================================================== */

.content {}

/* ==========================================================================
   Audio Slider/Mixer - Sessions
   ========================================================================== */
.page-id-4{
  background: url(../img/BG-Image.jpg) no-repeat;
  background-size: cover!important;
}
.slider{  
    border-width: 1px;  
    border-style: solid;  
    border-color: #333 #333 #777 #333;  
    border-radius: 25px;  
    width: 100px;  
    position: absolute;  
    height: 13px;  
    background-color: #8e8d8d;  
    background: url('../images/bg-track.png') repeat top left;  
   box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5),   
                 0 1px 0 0px rgba(250, 250, 250, .5);  
   left: 20px;  
}  
.ui-slider-handle {  
    position: absolute;  
    z-index: 2;  
    width: 25px;  
    height: 25px;  
    cursor: pointer;  
    background: #000;  
    font-weight: bold;  
    color: #1C94C4;  
    outline: none;  
    top: -7px;  
    margin-left: -12px;  
}  
.ui-slider-range {  
    background: linear-gradient(top, #ffffff 0%,#eaeaea 100%);  
    position: absolute;  
    border: 0;  
    top: 0;  
    height: 100%;  
    border-radius: 25px;  
} 
.dan-nodan {
list-style: none;
color: #fff;
}
.dan-nodan>li:nth-child(1) {
float: left;
}
.dan-nodan>li:nth-child(2) {
float: right;
}
.session-meta {
clear: both;
}
.sesh-meta {
list-style: none;
padding-left: 0px;
color: #fff;
margin-top: 10px;
font-size: 18px;
}

/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

.hentry time {
font-size: 12px;
width: 100%;
display: block;
}

body.single .hentry time {
font-size: 16px;
padding: 5px;
}
.hentry p{
   word-spacing: 4px;
   line-height: 20px;
}
.individual-post .post-footer .addthis_toolbox {
float: right;
width: 100%;
}

.meta-date-share {
padding: 1%;   
background-color:#FFF;
}

.addthis_toolbox {
background-color: #FFF;
display: block;
width: 100%;
opacity: .7;
}

.meta-date-share .addthis_toolbox {
width:250px;   
}

.blog-top{
   margin-top: 4%;
}

.blog-img-container {
height: 0px;
background-position: 50% 0px!important;
padding-bottom: 60%;
}
.wp-post-image {
margin-bottom: 25px;
}

body.single .btn-primary {
border: none;
color: #FFF;
font-size: 14px;
width: 100%;
padding: 1%;
margin-top:5px;
}

body.single .btn-primary:hover {
background-color: #c9c9c9;
} 

h1.entry-title {
text-transform: uppercase!important;
font-weight: 100;
word-spacing: .1em;
color: #878787;
font-size: 52px!important;
text-align: left;
background-color:#FFF;
padding:1%;
}

.blog-post-content {
margin-top: 20px;
background-color: #FFF;
padding: 2%;
}

.individual-post {
background-color: #FFF;
padding-top: 1%;
border: 1px solid rgb(238, 238, 238);
}

.individual-post .excerpt {
height: 155px;
overflow: hidden; 
}

.individual-post .post-footer {
padding: 10px;
text-align: left;
border-top: 1px solid #ededed;
}

.individual-post .post-footer .post-date {
color: #ccc!important;
font-size: 10px;
text-transform: uppercase;
}

#respond > h3 {
text-transform: uppercase!important;
font-weight: 100;
word-spacing: .1em;
color: #878787;
font-size: 32px!important;
text-align: left;
background-color: #FFF;
padding: 1%;
}

#respond {background-color:#FFF;}


body.category-news .addthis_default_style .at15t_compact {
display: none;
}

/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }

#social ul {margin:0px; padding:0px; list-style: none;}
#social li {margin:0px; padding: 0px list-style:none; display: block; float:left;}
#social li a {padding: 10px;}

#menu-footer-nav>li>a {
font-family: "Liberator";
}
#menu-footer-nav {
list-style: none;
float: left;
display: inline-block;
}
#menu-footer-nav>li {
display: inline-block;
margin: 0 5px;
}

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm) { 
.col, .post-nav {
margin: 0 10%;
}
.slide-background {
padding-bottom: 625px;
}
.headline-box {
position: absolute;
bottom: 150px;
left: 75px;
padding: 10px;
background: rgba(0,0,0,0.5);
}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg) { }
