/*!
 * Roots 6.5.0
 */


/* ==========================================================================
   Base
   ========================================================================== */
@font-face {
    font-family: 'bebas-neue';
    src: url('../fonts/bebasneue-webfont.eot');
    src: url('../fonts/bebasneue-webfont.eot?#iefix') format('eot'),
         url('../fonts/bebasneue-webfont.woff') format('woff'),
         url('../fonts/bebasneue-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue-webfont.svg#webfontX0YNjQNl') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
font-family: "brandon-grotesque",sans-serif;
background:#000;
}

a:hover{
  text-decoration: none!important;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'bebas-neue';
  color: #ffffff;
}

p {
  font-family: "brandon-grotesque",sans-serif;
  color: #fff;
  line-height: 1.6;
  font-size: 16px;
}

h1 {
font-size: 45px;
line-height: 35px;
}

h2 {
font-size: 40px;
line-height: 31px;
color:#999;
}

b {
  font-family: 'bebas-neue';
}

h3 {
font-size: 32px;
}

h4 {
font-size: 28px;
}

blockquote {
border-left: 15px solid #3C3C3E;
padding: 0px 20px!important;
margin: 30px 0 30px 0px;
}

blockquote p {
font-family: 'bebas-neue';
font-size: 26px!important;
line-height: 1;
}

textarea:focus, input:focus {
    outline: 0;
}

#form_success {
font-size: 30px;
line-height: 40px;
font-family: 'bebas-neue';
}

.three-col {
-moz-column-count: 3;
       -moz-column-gap: 20px;
       -webkit-column-count: 3;
       -webkit-column-gap : 20px;
}

.two-col {
-moz-column-count: 2;
       -moz-column-gap: 20px;
       -webkit-column-count: 2;
       -webkit-column-gap : 20px;
}


/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
  font-family: 'flexslider-icon';
  src:url('fonts/flexslider-icon.eot');
  src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
    url('fonts/flexslider-icon.woff') format('woff'),
    url('fonts/flexslider-icon.ttf') format('truetype'),
    url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0 0 60px; background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {display: none}
.flex-direction-nav a  { text-decoration:none; display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; text-align: right; }
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; display: inline-block; content: '\f001'; }
.flex-direction-nav a.flex-next:before  { content: '\f002'; }

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {
width: 100%;
position: absolute;
bottom: 100px;
text-align: center;
z-index: 9999;
}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #EAEAEA; background: rgba(234,234,234, 0.5) ; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #fff; background: rgba(255,255,255, 0.7); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}
/* ==========================================================================
   Home
   ========================================================================== */

body.home .footer-nav {display:none;}

.home .main {
padding-top: 0px!important;
padding-bottom: 0px!important;
}

.name-treatment {
position: absolute;
top: 40%;
left: 50%;
width: 100%;
margin-left: -300px;
z-index: 99999;
background: rgba(0,0,0,0.5);
padding: 15px;
text-align: center;
z-index: 3;
}

.slides {
padding: 0;
width: 100%;
height:100%;
margin-bottom: 0px;
background-color: #000;
}

.slides li {height:100%!important;}

.home-slider-container {
  padding: 0;
}

div.slide-background {
background-size: cover!important;
background-position: 50% 50%!important;
height:100%;
}

.headline-box {
position: relative;
background: rgba(0,0,0,0.5);
padding: 10px;
max-width: 230px;
}

.btn {
  transition: background-color .5s ease;
}

.btn.btn-read {
background-color: #107b93;
color: #fff!important;
padding: 1% 2%!important;
font-family: "bebas-neue";
font-size: 24px;
height: 50px;
border-radius: 0px;
}

.btn-read:hover {
background-color: rgba(203, 209, 48, 1);
}

button.btn.btn-music:hover {
color: #777;
background-color: rgba(203, 209, 48, 1);
transition: color .5s ease;
}

#bg-2 {
background: url(../img/about-image.jpg) no-repeat;
min-height: 650px;
min-height: 500px;
background-size: cover!important;
background-position: center center!important;
background-color:#000;
}

#home-2-content {
margin-top: 110px;
margin-top: 50px;
position: relative;
}

#bg-3 {
  background: url(../img/player-image.jpg) no-repeat;
  background-size: cover!important;
  min-height: 650px;
}

#home-3-content {
position: relative;
width: 100%;
margin-bottom: 15px;
}

.btn.btn-music {
background-color: #3F3F3F;
color: #7D7D7D;
padding: 1% 2%!important;
font-family: "bebas-neue";
font-size: 24px;
height: 50px;
border-radius: 0px;
}

#bg-4 {
  background: url(../img/player-bg-square.png);
  padding: 3% 0 3% 0;
}

.vfb-legend>h3 {
text-align: center;
font-size: 80px;
margin-bottom: 3%;
}

ul.vfb-section.vfb-section-1 {
padding-left: 0px;
}

.vfb-section>li {
color: #414141;
font-family: "brandon-grotesque",sans-serif;
font-size: 16px;
border-bottom: solid #2E2E2E 1px!important;
margin: 3% 0px;
}

.vfb-item>label {
margin-right: 5px;
font-family: "brandon-grotesque",sans-serif;
font-size: 16px;
font-weight: normal;
}

.vfb-item>input {
background: rgba(0,0,0,0);
border: 0px solid!important;
}

textarea#vfb-7 {
background-color: rgba(0,0,0,0);
border: 1px solid #2E2E2E;
width: 100%;
height: 150px;
}

li.vfb-item.vfb-item-secret {
display: none!important;
}

li#item-vfb-7 {
border-bottom: none!important;
}

li#item-vfb-4 input {
background-color: #10768c;
color: #FFF;
padding: 1% 2%!important;
font-family: "bebas-neue";
font-size: 24px;
height: 50px;
border-radius: 0px;
transition:background-color ease .3s;
}

li#item-vfb-4 input:hover {
background-color: rgba(203, 209, 48, 1);
}

fieldset#item-vfb-2 .vfb-legend {
display: none;
}

li#item-vfb-4.vfb-item-submit {
text-align: center;
border-bottom: 0!important;
}

.headline-box h3 {
margin: 0;
}

div.col-sm-5.credits {
float: right;
text-align: right;
padding-right: 11%;
}

p.credits {
margin-bottom: 0;
color: #999;
font-size: 11px;
}

p.credits a {color:#999;}
p.credits a:hover {color: #53bbeb;text-decoration: none;}

/* ==========================================================================
   Header
   ========================================================================== */

.banner {
background: transparent;
margin: 0;
position: absolute;
border: 0px solid;
width: 100%;
position: fixed;
}

.dropdown-nav-col {
width: 100%;
padding: 0px;
margin: 0px;
}

a.brand {
float: left;
font-family: 'bebas-neue';
color: #fff;
text-decoration: none;
font-size: 26px;
margin-left: 5.33%;
}

#menu-primary-navigation>li,
#menu-primary-navigation>li.active {
background-color: rgba(12,93,143,.3);
color: #fff;
font-family: 'bebas-neue';
height: auto;
margin-right: 3px;
}

#menu-primary-navigation>li.active {
background-color: rgba(6, 114, 180, 1);
}

#menu-primary-navigation>li>a:hover {
background-color: rgba(6, 114, 180, 1);
height: auto;
}

#menu-primary-navigation>li>a {
color: #fff;
padding: 15px;
font-size: 30px;
text-align: center;
transition:background-color .3s ease;
}

li.menu->a {
padding: 10px!important;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  background: transparent!important;
}

.navbar-header {
background-color: rgba(95,118,134,0.7);
}

ul#menu-primary-navigation {
margin-top: 0px;
}

button.navbar-toggle {
background-color: #fff;
}

/* ==========================================================================
   Content
   ========================================================================== */

.content {}

/* ==========================================================================
   Audio Slider/Mixer - Sessions
   ========================================================================== */
.page-id-4 {background-color: #000;}

.page-id-4 .main{
padding-bottom: 0%;
}

.slider{
    border-width: 1px;
    border-style: solid;
    border-color: #333 #333 #777 #333;
    border-radius: 25px;
    width: 100px;
    position: absolute;
    height: 13px;
    background-color: #8e8d8d;
    background: url('../../img/bg-track.png') repeat top left;
   box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5),
                 0 1px 0 0px rgba(250, 250, 250, .5);
   left: 20px;
}
.ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: #000;
    font-weight: bold;
    color: #1C94C4;
    outline: none;
    top: -7px;
    margin-left: -12px;
}

.ui-slider-range {
    background: linear-gradient(top, #ffffff 0%,#eaeaea 100%);
    position: absolute;
    border: 0;
    top: 0;
    height: 100%;
    border-radius: 25px;
}

.slider-body {
background: url(../img/broken_noise.png) repeat;
height: 223px!important;
border-radius: 5px;
border: 2px solid #414141;
-webkit-box-shadow: 0 0 20px #818181;
box-shadow: 0 0 20px #818181;
margin: 3% 0px;
}

.slider-house {
background: url(../img/Player-Slider-House.png) no-repeat;
height: 122px;
max-width: 722px;
width: 100%;
background-position: center;
margin-top: -55px;
}

input[type="range"] {
-webkit-appearance: none;
background-color: #000;
border-radius: 65px;
width: 90%;
height: 15px;
}

input[type="range"]::-moz-range-track{
-webkit-appearance: none;
background-color: #000;
border-radius: 65px;
height: 25px;
}

input[type='range']::-moz-range-thumb{
-webkit-appearance: none;
background: url(../img/Player-Slider.png) no-repeat;
width:90px;
height: 45px;
background-size:contain;
z-index: 500;
outline: none;
}

input[type='range']::-ms-thumb {
background: #fff!important;
outline: none;
}

input[type='range']::-webkit-slider-thumb {
outline: none;
-webkit-appearance: none;
background: url(../img/Player-Slider.png) no-repeat;
width:90px;
height: 45px;
background-size:contain;
z-index: 500
}

input[type="button"] {
-webkit-appearance: none!important;
background: transparent!important;
border: transparent;
}

i.fa.fa-play {
color: #ACACAC;
font-size: 18px;
text-shadow: 0px 0px 8px #727272;
transition: color .3s ease, text-shadow .3s ease;
}

i.fa.fa-play:hover {
text-shadow: 0px 0px 10px #DFF1E3;
color: #77F871;
}

.slider-body i {
cursor: pointer;
margin-left: 25px;
margin-top: 10px;
margin-left: 25px;
}

.fa.fa-pause {
color: red;
font-size: 18px;
text-shadow: 0 0 8px #B42828;
transition:color .3s ease, text-shadow .3s ease;
}

.fa.fa-pause:hover {
color: rgb(255, 50, 50);
font-size: 18px;
text-shadow: 0 0 8px #FC6060;
}

div.slider-section {
position: relative;
top: 75px;
width: 100%;
z-index: 0;
left: 15px;

}
.slider-section>img {
position: absolute;
z-index: -1;
left: 15px;
width: 85%;
}

.dan-nodan {
list-style-type: none;
color: #525252;
padding-right: 10px;
padding-left: 10px;
margin-top: -35px;
opacity: 1;
text-shadow: 1px 1px 2px #1D1D1D;
display:inline
}

.dan-nodan>li {
font-family: 'bebas-neue';
font-size: 28px;
margin-top: -15px;
opacity:.8;
list-style-type:none;
display:inline;
}

.dan-nodan>li:nth-child(1) {float: left;padding-left:2%;}
.dan-nodan>li:nth-child(2) {float: right;padding-right:2%;}

.session-meta {
clear: both;
margin: 30px 0px 60px 0px;
}

.sesh-meta {
list-style: none;
padding-left: 0px;
color: #fff;
margin-top: 10px;
font-size: 18px;
}

.session-meta p {
color: #777!important;
}

.track-description p {
color: #777;
}



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main {padding-top: 0; padding-bottom: 5%; margin-top:50px;}
body.home .main {margin-top:0px;}
body.songwriting .main {padding-bottom:12%;}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }


/* ==========================================================================
   About
   ========================================================================== */
.page-id-44 {
background: url(../img/internal-bg.jpg) fixed;
background-size: cover;
background-position:top center!important;
}

.performance-credits,
.discog,
.videog,
.television {background: rgba(0,0,0,0.3);}

.about-row {background:transparent;}

.performance-credits li,
.television-items ul li,
.page-id-4 li {
color: #ffffff;
font-size: 16px;
list-style: square;
list-style-type: square;
list-style-position: inside;
}

.performance-credits ul,
.television-items ul {padding-left:0px!important;}

.video-listed-items {
text-align: center;
}

.video-listed-items a em,  .video-listed-items em a {
font-size: 30px;
color: #FFF;
font-style: normal;
margin-left: .5%;
}

.video-listed-items i.fa.fa-youtube-play {
font-size: 32px;
opacity: .6;
}

.album-credits img {
-o-transition: brightness .3s ease, filter .3s ease;
-moz-transition:brightness .3s ease, filter .3s ease;
-webkit-transition: brightness .3s ease, filter .3s ease;
transition: brightness .3s ease, filter .3s ease;
-webkit-filter: brightness(80%);
-moz-filter:brightness(80%);
-o-filter:brightness(80%);
filter:brightness(80%);
}

.album-credits img:hover {
-webkit-filter: brightness(100%);
filter:brightness(100%);
-moz-filter:brightness(100%);
}

.tv-logos img {
opacity: .7;
}

.tv-logos img:hover {
opacity: 1;
}

ul li{
-webkit-column-break-inside:avoid;
-moz-column-break-inside:avoid;
-o-column-break-inside:avoid;
-ms-column-break-inside:avoid;
column-break-inside:avoid;
}

.wpb_content_element .wpb_gallery_slides ul li {
max-width: 100%!important;
}

/* ==========================================================================
   Songwriting
   ========================================================================== */
.page-id-33 {
    background: #000 url(../img/BG-songwriting.jpg) no-repeat;
    background-size: cover;
    background-position-x: -125px;
	background-size: cover;
}

.bandcamp-embed {width: 80%;margin-bottom: 25px;}

.songwriting-body {text-align: right!important;}

.music-view {float: right;margin-top: 4%!important;}

/* ==========================================================================
   Posts
   ========================================================================== */

.page-header {
border-bottom: none;
margin: 5% 10% 0 10%;
}

.hentry header { }
.hentry time {display: none; }
.hentry .byline {display: none; }

.hentry .entry-content {
	padding: 3% 5%;
	background-color: rgba(0,0,0,.4);
}

.hentry footer { }

.single-post {
	background: #000 url(../img/internal-bg.jpg) top center scroll no-repeat;
	background-size: cover;
}

body.single-post .wrap {margin:0 auto;padding:0 10%;}

.blog {
  background: url(../img/internal-bg.jpg) fixed;
  background-size: cover;
}

.single-post .entry-title{
  display: none;
}

.entry-content h2 {
line-height: .8;
}

body.single .hentry time {
font-size: 16px;
padding: 5px;
}

.hentry p {
word-spacing: 4px;
line-height: 1.6;
font-size: 16px;
margin-bottom: 3%;
color:#CCC;
}

.individual-post .post-footer .addthis_toolbox {
float: right;
width: 100%;
}

.meta-date-share {
padding: 1%;
background-color:#FFF;
}

.addthis_toolbox {
display: block;
width: 100%;
opacity: .7;
}

.meta-date-share .addthis_toolbox {
width:250px;
}

.blog-top{
   margin-top: 4%;
}

.blog-img-container {
height: 0px;
background-position: 50% 50%!important;
padding-bottom: 60%;
}

.wp-post-image {
margin-bottom: 25px;
padding: 0 0 1% 1%;
max-width: 50%;
float: right;
margin: 0 0 3% 3%;
}

body.single .btn-primary {
border: none;
color: #FFF;
font-size: 14px;
width: 100%;
padding: 1%;
margin-top:5px;
}

body.single .btn-primary:hover {
background-color: #c9c9c9;
}

.blog-post-content {
margin-top: 20px;
background-color: #FFF;
padding: 2%;
}

.blog-wrap{
background: url(../img/player-bg-square.png) repeat;
padding: 2%;
margin-top: 15px;
background-color: rgba(0,0,0,.2);
}
.individual-post{
  /*margin-top: 15px;*/
}
.individual-post .excerpt {
height: 155px;
overflow: hidden;
}

.individual-post .post-footer {
padding: 10px;
text-align: left;
}

.post-date {color:#999;}

.individual-post .post-footer .post-date {
color: #999!important;
font-size: 10px;
text-transform: uppercase;
}

#respond > h3 {
text-transform: uppercase!important;
font-weight: 100;
word-spacing: .1em;
color: #878787;
font-size: 32px!important;
text-align: left;
background-color: #FFF;
padding: 1%;
}

.excerpt a, .excerpt h3, h3{
  transition: color .5s ease;
  color: #fff;
}

.excerpt a:hover, .excerpt h3:hover, footer h3:hover{
  color: #ccc;
}

#respond {background-color:#FFF;}


body.category-news .addthis_default_style .at15t_compact {
display: none;
}

div#disqus_thread {
padding: 3%;
background-color: rgba(255,255,255,.7);
margin-top: 3%;
}

/* ==========================================================================
   On The Roads
   ========================================================================== */
.page-id-72{
  background: url(../img/Footer-Image.jpg) no-repeat;
  background-size: cover;
}
.photos-page>li {
display: inline-block;
margin: 0px;
margin-top: 15px;
width: 100%;
}
ul.photos-page {
list-style: none;
padding: 0px!important;
margin: 0 auto;
width: 90%;
}
#cboxOverlay{ visibility: visible; opacity: 0.5 !important;}
.photos-cols{
  padding: 3px!important;
}
.photos-page img{
width: 100%;
height: auto;
}

.row.from-the-road {
background-color: rgba(0,0,0,.2);
padding: 1% 0px;
}

h3.from-the {font-size:73px;line-height:.8;}
h3.road {font-size:98px;}

ul.photo-footer-list img {
border: 1px solid #242424;
opacity: .7;
transition: opacity ease .3s;
}

ul.photo-footer-list img:hover {
opacity: 1;
pointer:default;
}

footer h4 {
text-align: right;
line-height: 1;
font-size: 27px;
padding-top: 1%;
}
.photos-page a {
pointer-events: none;
}

/* ==========================================================================
   Colorbox
   ========================================================================== */
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

#cboxOverlay{background:url(../img/overlay.png) repeat 0 0;}
#colorbox{outline:0;}
    #cboxTopLeft{width:21px; height:21px; background:url(../img/controls.png) no-repeat -101px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(../img/controls.png) no-repeat -130px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(../img/controls.png) no-repeat -101px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(../img/controls.png) no-repeat -130px -29px;}
    #cboxMiddleLeft{width:21px; background:url(../img/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(../img/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(../img/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(../img/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxLoadingOverlay{background:url(../img/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(../img/loading.gif) no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }

        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(../img/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(../img/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext:hover{background-position:-50px -25px;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(../img/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose:hover{background-position:-25px -25px;}

/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }
footer{
  background: url(../img/Footer-Image.jpg) no-repeat;
  background-size: cover;
}

#social ul {margin:0px; padding:0px; list-style: none; margin-left: 40px;}
#social li {margin:0px; padding: 0px list-style:none; display: block; float:left;}
#social li a {padding: 10px;}
footer h4{
  float: left;
  max-width: 110px;
margin-top: 0px;
color: #313131;
}

footer a, footer h4, footer i{
  transition: color .5s ease;
}

footer a:hover, footer h4:hover, footer i:hover{
  color: #fff;
}

footer h3 {
font-size: 65px;
line-height: 55px;
}

#menu-footer-nav>li>a {
font-family: "bebas-neue";
color: #949494;
font-size: 16px;
transition: color .3s ease;
}

#menu-footer-nav>li>a:hover {
color: #FFF;
}


#menu-footer-nav {
list-style: none;
float: left;
display: inline-block;
}

#menu-footer-nav>li {
display: inline-block;
margin: 0 5px;
padding-right: 20px;
}

.photo-footer-list>li {
display: inline-block;
margin-right: 15px;
margin-top: 10px;
}

ul.photo-footer-list {
list-style: none;
padding: 0px!important;
float: left;
}

.big-icon {
font-size: 150px;
color: #313131;
}

ul.vfb-section.vfb-section-2 {
padding-left: 0px;
}

ul#menu-footer-nav {
margin-bottom: 0;
padding-left:1%;
}

footer div.col-sm-11.col-sm-offset-1 {
padding: 1% 0;
}

ul#menu-social-navigation li a i {
color: #949494;
font-size:22px;
transition:color .3s ease;
}

ul#menu-social-navigation li a i:hover {
color: #FFF;
}


/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* I know, I know, shame on me */
@media (max-width: 767px) {

.navbar-collapse {max-height: none;}

.three-col {
-moz-column-count: 1;
       -moz-column-gap: 20px;
       -webkit-column-count: 1;
       -webkit-column-gap : 20px;
}

.two-col {
-moz-column-count: 1;
       -moz-column-gap: 20px;
       -webkit-column-count: 1;
       -webkit-column-gap : 20px;
}


/* Navbar */
.navbar-header {background-color: rgba(44, 44, 44, 1);}
a.brand {margin-top:9px;}
#menu-primary-navigation>li>a {font-size: 22px;}
#menu-primary-navigation>li, #menu-primary-navigation>li.active {
	height: auto;padding: 1%;background-color: rgba(12,93,143,.8);}
.navbar-default .navbar-toggle {border-color: #707070;}
button.navbar-toggle {background-color: #444;}
#menu-primary-navigation>li, #menu-primary-navigation>li.active {margin-right: 0;}

/* HOME - Top slider */
.headline-box button.btn.btn-read {width: 100%;}

/* General */
#bg-2, #bg-3, #bg-4 {padding: 50px 0px;}

/* HOME - About */
#home-2-content button.btn.btn-read {width: 100%;}
#home-2-content h1 {font-size: 60px;line-height: .6;}
#bg-2 {
background: #111111; /* Old browsers */
background: -webkit-linear-gradient(top,  #111111 0%,#363138 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #111111 0%,#363138 100%); /* Opera 11.10+ */
}

/* HOME - Slider Section */
#home-3-content h2 {text-align: center;font-size: 70px;line-height:.8;}
.slider-house {height: 175px;margin-top: -39px;}
.slider-body {height: 173px!important;}
.sesh-meta {color: #D5D5D5;font-size: 22px;text-align: left;}
.btn.btn-music, .btn.btn-read {width: 49%;}
.track-description {margin: 25px 0px;}
#bg-3 {background-size: cover!important;background: url(../img/Footer-Image.jpg) no-repeat;}
.dan-nodan>li {margin-top: -37px;}

/* HOME - Footer */
div#social, .footer-nav {display: none;}
h3.from-the, h3.road {display: none;}
.row.from-the-road {background-color: transparent;}
.big-icon {display:none;}
footer h4 {max-width: 100%;margin-top: 0px;color: #AFAFAF;float:none;text-align:center;}
p.credits {text-align:center;}
ul.photo-footer-list {float: none;text-align: center;}
ul.photo-footer-list img {width: 80px;height: 80px;text-align: center;}
#bg-4 {padding: 5% 0%!important;}
.big-icon {display: none;}

/* SESSIONS */
.booking-form {padding:5%;}
body.page-id-4 h1 {font-size: 45px;line-height: .8;text-align: center!important;}

/* ABOUT */
.page-id-44 {background: url(../img/internal-bg.jpg) fixed;background-size: cover;}
body.page-id-44 h1 {font-size: 50px;line-height: .4;text-align: center;}
body.page-id-44 h1:nth-child(2) {margin-bottom:30px;}

/* SONGWRITER */
.page-id-33 {
background: #000 url(../img/BG-songwriting.jpg) no-repeat;background-size: cover;}
.page-id-33 h1 {font-size: 65px;line-height: .8;text-align: center!important;margin-bottom:30px;}
.page-id-33 p {text-align: left!important;padding: 0 3%;}
.bandcamp-embed {width: 80%;margin: 0 auto;}
.individual-players {margin: 0 auto;text-align: center;margin-bottom: 20px;}

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

.name-treatment {
width: 600px;
}

body.home footer {
background: url(../img/Footer-Image.jpg) no-repeat;
background-size: cover;
position: absolute;
bottom: 0px;
z-index: 999999999;
width: 100%;	
}

.custom-col {width:100%!important;}

h1{font-size: 75px; line-height:65px;}
h2{font-size: 40px; line-height:31px;}
h3{font-size: 32px; line-height:32px;}
h4{font-size: 28px; line-height:28px;}

.page-id-44{
  background: url(../img/about-image.jpg) fixed;
  background-size: cover;
}

.wpb_content_element .wpb_gallery_slides ul li {
max-width: 19%!important;
}

.home-content {
  padding-top: 50px;
  padding-bottom: 25px;
}

.banner {
position: absolute;
}

.photos-page>li {
width: 33%;
margin: 10px!important;
}
.photos-page a {
pointer-events: auto;
}
div.navbar-header {
background-color: rgba(95,118,134,0);
}

#social ul {margin:0px;}

.dropdown-nav-col {
padding: inherit;
margin: inherit;
}

a.brand {
  display: none;
}

.col, .post-nav {
margin: 0 10%;
}

.slider-house {
margin-top: -5px!important;
}

.headline-box {
position: relative;
bottom: 0px;
padding: 10px;
background: rgba(0,0,0,0.5);
max-width: 525px;
}

body.page-id-4 h1 {
text-align: center;
}

#bg-2 {
min-height: 650px;
background-position-x:0px;
}

.slider-body {
height: 160px;
width: 100%;
max-width: 722px;
}

div.slider-section {
position: relative;
top: 70px;
margin-left: 35px;
width: 100%;
z-index: 0;
}

body.page-id-44 h1 {
margin-bottom: 30px;
}

.photos-cols {
padding: 15px!important;
}

input[type="range"] {
width: 90%;
height: 25px;
}

div.slider-section {
top: 47px;
left: 0px;
}

.slider-body {
height: 176px!important;
}

/* .dan-nodan {
margin-top: 0px;
padding-right: 40px;
padding-left: 40px;
} */

#menu-primary-navigation {
margin: 0px auto;
width: 685px;
float: none;
}

input[type='range']::-moz-range-thumb{
height: 65px;
}

input[type='range']::-webkit-slider-thumb {
height: 65px;
}

h3.from-the {
font-size: 30px;
line-height: .8;
}

h3.road {
font-size: 80px;
line-height: .8;
}

ul.photo-footer-list li:nth-child(4) {
display: none;
}

.page-id-33 {
background: #000 url(../img/BG-songwriting.jpg) no-repeat;
background-size: cover;
background-color: #000;
}

#bg-4 {padding: 5% 0%!important;}
.big-icon {display: none;}

ul.photos-page {
width: 100%;
text-align: center;
}

body.page-id-72 h1 {
text-align: center;
}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

.custom-col {width: 66.66666666666666%!important;}

/* SESSIONS PAGE */
body.page-id-4 {
	background: #000 url(../img/BG-Image.jpg) no-repeat;
	background-size: contain;
	background-position: bottom left;
	background-position-x: -240px;
	background-position-y: 130px;
	background-attachment: fixed;
}
.booking-form {padding: 0% 25%;}
.sesh-meta {font-size: 14px;}

/* Sliders */
.slider-body {width:100%}


.page-id-44 {
  background-position-x:0px;
}

.photos-page>li {
width: 22%;
margin: 30px!important;
}

.songwriting-body>* {
    text-align: right;
}

 .page-id-33 {
  background-position-x: 0px;
}

.photos-page>li {
margin: 10px!important;
}

h3.from-the {
font-size: 43px;
line-height: .8;
}

h3.road {
font-size: 44px;
line-height:.001;
}

ul.photo-footer-list li:nth-child(4) {
display: none;
}

.page-id-33 {
background: #000 url(../img/BG-songwriting.jpg) no-repeat;
background-position: top center;
background-size: cover;
background-color: #000;
}

.songwriting-body h1 {
text-align: right!important;
font-size: 76px;
line-height: .8;
}

.individual-players {float:right;}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


h3.road {
font-size: 91px;
line-height: .5;
}

h3.from-the {
font-size: 48px;
line-height: .8;
}

ul.photo-footer-list li:nth-child(4) {
display:inline!important;
}

.page-id-33 {
background: #000 url(../img/BG-songwriting.jpg) no-repeat;
background-position-x: -126px!important;
background-size: cover;
}


 }
